@mixin primary() {
    background-color: #8bc34a;  
    color: #FFFFFF;  
    border: 1px solid #8bc34a;
}
@mixin button {
    border-radius: $a + px;
    padding: $a * 12 + px $a * 15 + px $a * 12 + px $a * 15 + px;
    background-color: #8bc34a;
    border: 0;
    min-width: 110px;
    font-family: "SegoeUI SemiBold";
    font-size: 16px;
    color: #ffffff;
}
@mixin secondary(){
    background-color: #FFFFFF;  
    color: #2095f2;  
    border: 1px solid #2095f2; 
}
