@import "variable";
.normal {
    background-color: #ffffff;
    border-radius: ($a * 3) px;
    width: $a * 300 px;
    height: $a * 36 px;
    border: $a px solid #cccccc;
    font-style: normal;
    font-size: $a * 13 px;
    padding-left: $a * 10 px;
    color: #666666;
}

input:disabled {
    background-color: #eeeeee;
    color: #999999;
    cursor: not-allowed;
}
#error {
    background-color: #fde7e1;
    border: ($a) + px solid #f44336;
    color: #f44336;
}
